nav {
    background-color: var(--gray-100);
    color: var(--gray-400);
    padding: 1rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    a {
        text-decoration: none;
        color: var(--gray-700);

        &:hover {
            color: var(--blue-500);
        }
    }
}

nav a.active {
    color: var(--blue-400);
}