.pagination {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: var(--gray-200);
  color: var(--gray-700);
  text-align: left;
  padding: 0 1rem;
  border: 1px solid var(--gray-300);
  border-top: 0;
  align-items: center;

  li {
    list-style: none;
    color: var(--gray-700);
    display: flex;

    a {
      padding: 8px 16px;
      text-decoration: none;

      i {
        font-size: 1rem;
      }

      &.icon {
        padding: 8px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: var(--blue-400);
      color: var(--white);
    }

  }
}

.header-list-movies th {
  text-align: center;
}