main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-title {
    background-color: var(--gray-700);
    color: var(--gray-100);
    padding: 1rem 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 15rem auto;
    height: 100%;
}

.content-main {
    padding: 1rem;
}